body
{

background: #282C34;
width: 0;
height: 0;
padding: 0;
margin: 0;



}
.search-box{

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
background: #FFFFFF;
height: 40px;
border-radius: 40px;
padding: 10px;
width: 750px;
}

.search-btn{

color: #ffffff;
float: center;
width: 40px;
height: 40px;
border-radius: 50%;
background: #ffffff;
display: flex;
justify-content: center;
align-items: center;
position: relative;
right: 260px;
}
.mic{
position: relative;
left: 665px;

}

.search-txt{
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: rgb(0, 0, 0);
font-size: 16px;
transition: 0.4s;
line-height: 40px;
width: 280px;
position: relative;
left: 70px;
}

  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #282C34;
    position: relative;
    right: 140px;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
 
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    width: 250px;
   position: absolute;
   left: 810px;
   top: 450px;
    
    font-family: Arial-Regular ;

  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    width: 250px;
    position: absolute;
    left: 410px;
    top: 450px;
    font-family: Arial-Regular ;

  }
  
  .button3:hover {
    background-color: #008CBA;
    color: white;
    
  }
 
  
  

 
 a{

  color: rgb(255, 255, 255);
 }
 h1{
color: rgb(255, 255, 255);
letter-spacing: 50px;
line-height: 50px;
margin: 0;
padding: 0;
position: absolute;
left: 400px;
top: 250px;
font-size: 5em;
 }
 .igg{
position: relative;
left: 1380px;
top: 20px;

 }